{% extends "base.html" %}
{% block title %}Contact - {{ block.super }}{% endblock %} 

 
{% block content %}
 <div class="container">
<div class="row">
    <div class="col-md-12 card mb-4  mt-4 left  top">
      <div class="card-body">
 <h1 class="text-center display-4 text-white">Contact Us</h1>
 <h2 class="text-center card-text">Send us an email</h2>
<form method="post" class="text-center lead card-text">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-outline-light" type="submit">Submit</button>
</form>

</div>
</div>
</div>


</div>  
 
{% endblock %}