        {% block sidebar %}

<!-- <style>
        .card{
            box-shadow: 0 0px 0px #E3E7EB;
        }
       
</style>

<! Sidebar Widgets Column ->
<div class="col-xl-2 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> ruk bhosdike banate hai na ache se</p>
        <a href="https://djangocentral.com/building-a-blog-application-with-django"
           class="btn btn-danger">Know more!</a>
    </div>
</div>
</div> -->

{% endblock sidebar %}